<!--partials are components that you can reuse on different pages -->
<!--note that we namespace our context by starting with partials.weather -->
<!--since we want to be able to use the partial on any page -->

            
<div class='pollsWidget'>
    {{#each partials.polls }}
    <div class='pollname'>
        <h3>{{ partials.polls.name }}</h3>
    </div>        
    {{/each}}
</div>






