<!doctype html>
<html>
    <head>
        <title>Voting App</title>
        
        <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.min.css">    
        <link href="/public/css/main.css" rel="stylesheet" type="text/css">    
        
    </head>
    
    <body>
        <header>
            <!--no info will need to be here as it will change depending on whether or not user is logged in-->
        </header>
        
        {{{body}}}
            
    </body>
</html>