
<div class='useroptions'>
    
        <h3>Would you like to create a <a href='/newpoll'>new poll</a></h3>
    
    
        <h3>or check out <a href='/mypolls'>your current polls</a>?</h3>
    
</div>

<!-- took out polls partial -->



<!--
    <script type="text/javascript" src="common/ajax-functions.js"></script>
	<script type="text/javascript" src="controllers/userController.client.js"></script>
-->