<div class='container'>
    <div class='new'>
        <form id='pollform' action='https://voting-app-ajboyle.c9users.io/process_get' method='GET'>
            Poll Title:<br>
            <input type='text' name='pollname' id='title'>
            <br>
            Poll Options (each on its own line):<br>
            <textarea name='options' form='pollform' rows='8' cols='75'></textarea><br>
            <input type='submit' value='Create Poll' id='subbut'>
        </form>
    </div>
</div>