<nav class='nav navbar navbar-fixed-top'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' href='#'>FCC Voting-App</a>
        </div>
        <div class='collapse navbar-collapse'>
            <ul class='nav navbar-nav navbar-right'>
                <li id='home'><a href='#'>Home</a></li>
                <li id='mypoll'><a href='/mypolls'>My Polls</a></li>
                <li id='newpoll'><a href='/newpoll'>New Poll</a></li>
                <li id='username'><a href='#'>TEST<span id="profile-username" class="profile-value"></span></a></li>
            </ul>
        </div>
    </div>
</nav>



<div class='container'>
    <div class='new'>
        <form id='pollform' action='https://voting-app-ajboyle.c9users.io/process_get' method='GET'>
            Poll Title:<br>
            <input type='text' name='pollname' id='title'>
            <br>
            Poll Options (each on its own line):<br>
            <textarea name='options' form='pollform' rows='8' cols='75'></textarea><br>
            <input type='submit' value='Create Poll' id='subbut'>
        </form>
    </div>
</div>