/* LOGIN  */
#home, #login, #mypoll, #newpoll, #username {
	font-size: 150%;
}

/* HOME */

.pollsWidget {
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 2px solid black;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}

/*new poll*/

form {
  margin-top: 50px;
  margin-left: 50px;
}

#title {
  width: 615px;
}

.useroptions {
  margin-top: 100px;
  
  text-align: center;
}

.new {
  margin-top: 100px;
}