#home, #login {
	font-size: 150%;
}

.pollsWidget {
    display: inline-block;
    height: 150px;
    width: 150px;
    border: 2px solid black;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
}

form {
  margin-top: 50px;
  margin-left: 50px;
}

#title {
  width: 615px;
}